@import "tailwindcss";

/* letakkan di dalam layer agar Tailwind memproses @apply dengan benar */
@layer components {
  .custom-pagination .swiper-pagination-bullet {
    @apply bg-gray-400 w-3 h-3 rounded-full opacity-70;
  }

  .custom-pagination .swiper-pagination-bullet-active {
    background-color: var(bg-red-500);
  }
}
